<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="syncCon1"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.3.2"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="118"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="mb, FailNum, Q, d, up, t, v, pc, pt, pv"/>
    <stringAttribute key="modelComments" value="PlusCal modeling of Synchronized Round Consensus Algorithm&#13;&#10;&#13;&#10;http://muratbuffalo.blogspot.com/2017/11/tlapluscal-modeling-of-synchronized.html&#13;&#10;&#13;&#10;http://muratbuffalo.blogspot.com/2017/11/tlapluscal-modeling-of-synchronized_8.html"/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants"/>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="0Termination"/>
        <listEntry value="1Agreement"/>
        <listEntry value="1Term"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="8"/>
    <stringAttribute key="modelExpressionEval" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="N;;2;0;0"/>
        <listEntry value="FAILNUM;;1;0;0"/>
    </listAttribute>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="6"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="syncCon1"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
