<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="uploader"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.3.2"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="87"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="msg, content, next_id, pc, queue, uploads, local"/>
    <stringAttribute key="modelComments" value="https://hillelwayne.com/talks/distributed-systems-tlaplus/"/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants"/>
    <listAttribute key="modelCorrectnessProperties"/>
    <intAttribute key="modelEditorOpenTabs" value="8"/>
    <stringAttribute key="modelExpressionEval" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="Workers;;{wk1};1;0"/>
        <listEntry value="MaxVersion;;1;0;0"/>
        <listEntry value="NULL;;{null};1;0"/>
        <listEntry value="MaxId;;1;0;0"/>
        <listEntry value="Users;;{ur1};1;0"/>
    </listAttribute>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="6"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="uploader"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
